/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1a60;
}
main {
  display: flex;
  align-items: center;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.gradient-border {
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 53%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}
.gradient-border-v2 {
  border: 0.3px solid transparent;
  border-image: linear-gradient(
    91.12deg,
    #ffffff 7.16%,
    rgba(255, 255, 255, 0) 48.25%,
    #ffffff 92.78%
  );
  border-image-slice: 1;
}
.radial-gradient {
  position: relative;
  width: 255px;
  height: 255px;
}

.folder-wrapper svg.bar {
  display: none;
}
.folder-wrapper.active,
.folder-wrapper .active {
  background: linear-gradient(90deg, #4307ae 0%, #664c95 97.91%);
}
.folder-wrapper.active svg.bar,
.folder-wrapper .active svg.bar {
  display: block;
}
.folder-wrapper .recycle {
  display: none;
}
.folder-wrapper:hover .recycle {
  display: block;
}
.epr_q53mwh.epr_-8ygbw8.epr_346qu6.epr_-lzq3oa {
  display: none !important;
}
.EmojiPickerReact {
  position: absolute !important;
  background: #101e71 !important;
  border: 1px solid #374cc4 !important;
  top: 100% !important;
  width: 100% !important;
}
.epr-emoji-category-label {
  background-color: transparent !important;
  color: rgb(223 223 223) !important;
}
.password-input::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 2px;
  width: 50%;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(90deg, #5003db 0%, #a143ff 100%);
}

/* Input Range(Random Password Generator) CSS */

/* .custom-range::-webkit-slider-runnable-track {
  height: 10px;
  fill:#0E1A60;
  background: url('/public/track-svg.svg') no-repeat;
  background-size: cover;
} */

input[type=range] {
  height: 6px;
  -webkit-appearance: none;
  margin: 0px 0;
  background: transparent;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0E1A60;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #681bf8;
  height: 24px;
  width: 19px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(90deg, #A143FF 0%, #5003DB 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
.toast-message {
  background: #A143FF;
  color: #fff;
  font-size: 20px;
}