@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e1a60;
}
main {
  display: flex;
  align-items: center;
}
.hero-section {
  /* min-height: calc(100vh - 96px); */
}

.gradient-border {
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 53%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}
.gradient-border-v2 {
  border: 0.3px solid transparent;
  border-image: linear-gradient(
    91.12deg,
    #ffffff 7.16%,
    rgba(255, 255, 255, 0) 48.25%,
    #ffffff 92.78%
  );
  border-image-slice: 1;
}
.radial-gradient {
  position: relative;
  width: 255px;
  height: 255px;
}
